.slide {
  max-width: 1000px;
  position: relative;
  margin: auto;

  .slide-item {
    .slide-count {
    }

    .slide-img {
      width: 100%;
    }
  }

  .slide-prev-btn{

  }

  .slide-next-btn{
    
  }
}
